.navigation {
  padding: 0 2rem;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: -100%;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $dark-bg;
  transition: left 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 20;

  &__open {
    left: 0;
  }

  ul {
    li {
      &:not(:last-child) {
        a {
          color: $font-color;
          font-size: 3rem;
          font-weight: 600;
          position: relative;

          &::after {
            content: "";
            margin-left: -5%;
            width: 110%;
            height: 52px;
            background-color: $green;
            position: absolute;
            top: 0.5rem;
            left: -150%;
            z-index: -1;
            transition: left 0.3s ease-in-out;
          }

          &[aria-current="page"] {
            &::after {
              left: 0;
            }
          }

          &:hover,
          &:focus {
            &::after {
              left: 0;
              background-color: $green;
            }
          }
        }
      }

      &:nth-last-child(2) {
        border-bottom: 5px solid $font-color;
        padding-bottom: 30px;
      }

      &:last-child {
        a {
          font-size: 2rem;
          color: $font-color;
          display: inline-block;

          &:hover {
            cursor: pointer;
            color: $green;
          }
        }
      }
    }
  }

  @include breakpoint(768px) {
    width: unset;
    height: unset;
    margin: unset;
    position: unset;
    padding: unset;

    ul {
      display: flex;
      align-items: center;

      li {
        padding: 0 0.75rem;

        &:not(:last-child) {
          a {
            font-size: 1rem;
            overflow: hidden;
            display: inline;

            &::after {
              width: 0;
              height: 3px;
              top: 25px;
              right: 0;
              left: unset;
              z-index: 0;
              transition: width 0.2s ease-in-out;
            }

            &:hover,
            &:active,
            &:focus {
              &::after {
                width: 110%;
                left: 0;
                right: auto;
              }
            }
          }
        }

        &[aria-current="page"] {
          a {
            &::after {
              width: 110%;
            }
          }
        }

        &:nth-last-child(2) {
          border: unset;
          padding: 0 1.5rem 0 0.75rem;
          border-right: 5px solid $font-color;
        }

        &:last-child {
          a {
            display: block;
            font-size: 1rem;
            padding: 0 0 0 0.75rem;
          }
        }
      }
    }
  }
}
