.digital {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;

    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
      0 0 40px rgb(28, 255, 255), 0 0 60px rgb(28, 255, 255);
  }
}
