.spinner1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__ring {
    margin: 0 auto;
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $red;

    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 2px solid $red;
      animation: spinner1-border 2.1s forwards 2.1s infinite;
    }
  }

  @keyframes spinner1-border {
    0% {
      border-color: $font-color;
      opacity: 1;
      width: 180px;
      height: 180px;
    }
    50%,
    100% {
      opacity: 0;
      width: 250px;
      height: 250px;
    }
  }

  &__part {
    top: 90px;
    width: 80px;
    height: 80px;
    background-color: $font-color;
    border-radius: 100px;
    position: absolute;
    transform-origin: top;
    animation: spinner1-rotate 2.1s ease-in-out infinite;

    &:nth-last-of-type(even) {
      background-color: $red;
    }

    &:nth-child(1) {
      animation-delay: 0.15s;
    }

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.45s;
    }

    &:nth-child(4) {
      animation-delay: 0.6s;
    }

    &:nth-child(5) {
      animation-delay: 0.75s;
    }

    &:nth-child(6) {
      animation-delay: 0.9s;
    }
  }

  @keyframes spinner1-rotate {
    0% {
      transform: rotate(0);
    }
    60% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &__loading {
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    line-height: 100%;
  }

  &__dot {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background-color: $font-color;
    border-radius: 50%;
    animation: spinner1-dots 1.6s ease infinite;

    &:nth-child(2) {
      animation-delay: 0.4s;
      background-color: $red;
    }

    &:nth-child(3) {
      animation-delay: 0.8s;
    }
  }

  @keyframes spinner1-dots {
    0% {
      opacity: 0;
    }
    70%,
    100% {
      opacity: 1;
    }
  }
}
