<footer class="footer">
  <div class="footer__content content">
    <ul class="footer__legal">
      <li>
        <a href="https://stefanturner.ch/portfolio/en/legal-notice/"
          >Legal Notice</a
        >
      </li>
      <li>
        <a href="hhttps://stefanturner.ch/portfolio/en/privacy-policy/"
          >Privacy Policy</a
        >
      </li>
    </ul>
    <p class="footer__url">
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      stefanturner.ch
    </p>
  </div>
</footer>
