<footer class="footer">
  <div class="footer__content content">
    <ul class="footer__legal">
      <li>
        <a href="https://www.stefanturner.ch/portfolio/impressum">Impressum</a>
      </li>
      <li>
        <a href="https://www.stefanturner.ch/portfolio/datenschutz"
          >Datenschutz</a
        >
      </li>
    </ul>
    <p class="footer__url">
      <script type="text/javascript">
        document.write(new Date().getFullYear() + " ");
      </script>
      stefanturner.ch
    </p>
  </div>
</footer>
