<header class="header">
  <div class="header__content content">
    <a href="https://www.stefanturner.ch/portfolio/en/" class="header__logo">
      <h1>Stefan<span>Turner</span></h1>
    </a>
    <button class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="navigation">
      <ul>
        <li>
          <a href="https://www.stefanturner.ch/portfolio/en">Home</a>
        </li>
        <li>
          <a href="https://www.stefanturner.ch/portfolio/en/my-latest-projects/"
            >Projects</a
          >
        </li>
        <li>
          <a href="#" aria-current="page">Miniprojekte</a>
        </li>
        <li>
          <a href="https://www.stefanturner.ch/portfolio/ui-web-design-works/"
            >UI Design</a
          >
        </li>
        <li>
          <a href="https://www.stefanturner.ch/playground/">de</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
