body {
  min-width: 375px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: $dark-bg;
  color: $font-color;
}

.content {
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
}

.maincontent {
  margin: 4rem auto 0 auto;
  width: 90%;
  max-width: 1600px;
  display: grid;
  gap: 2rem;

  @include breakpoint(768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pageheader {
  margin: 3rem auto 0 auto;
  width: 90%;
  max-width: 600px;
  text-align: center;

  &__title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 125%;
  }

  &__description {
    margin-top: 1.5rem;
    line-height: 160%;
  }

  @include breakpoint(768px) {
    &__title {
      font-size: 5rem;
    }
  }

  @include breakpoint(1024px) {
    margin-top: 5rem;

    &__title {
      font-size: 6rem;
    }

    &__description {
      font-size: 1.125rem;
    }
  }
}

.grid-box {
  padding: 1rem;
  border: 2px solid $background-elements;
}
